{% load html %}
{% load i18n %}

<style>
  #message-actions-box {
    background-color: transparent;
    padding: 0;
    border: none;
  }
  .banner-user .action:hover {
    background-color: transparent !important;
  }
  #mx-print-btn {
    display: inline-block;
    vertical-align: middle;
    min-width: 130px;
    width: auto;
    background-image: none;
    padding: 0.625rem;
    font-size: 15px;
    border: 1px solid;
    border-radius: 3px;
    transition: color 0.125s ease-in-out 0s, border-color 0.125s ease-in-out 0s, background 0.125s ease-in-out 0s, box-shadow 0.125s ease-in-out 0s;
    background: transparent;
    color: #f5f5f5;
    cursor: pointer;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
  }

  #mx-print-btn:hover {
    color: #111;
    background-color: #f5f5f5 !important;
  }

  .mx-fa-print {
    /* font-size: 1.125rem; */
    margin-right: 0.3125rem;
  }

</style>

<div class="message-actions">
  <div class="message-actions-box" id="message-actions-box">
    {% if enable_facebook_sharing %}
      <button title="{% trans 'Share this certificate via Facebook' as tmsg %} {{tmsg | force_escape}}"
              id="action-share-facebook"
              class="action btn icon-only action-facebook"
              data-track-type="click"
              data-track-event="edx.bi.credentials.facebook_share.attempted"
              data-track-event-property-category="certificates"
              data-track-event-property-credential-uuid="{{ user_credential.uuid }}"
              data-track-event-property-program-uuid="{{ user_credential.credential.program_uuid }}">
        <a class="share-link" target="_blank" href="{{ facebook_url }}" >
        <span class="fa-brands fa-facebook" aria-hidden="true"></span>
        <span class="action-label">{% trans 'Share this certificate via Facebook' as tmsg %}{{ tmsg | force_escape }}</span>
        </a>
      </button>
    {% endif %}

    {% if enable_twitter_sharing %}
      <button title="{% trans 'Tweet this certificate' as tmsg %} {{tmsg | force_escape}}" class="action btn icon-only" data-track-type="click"
              data-track-event="edx.bi.credentials.twitter_share.attempted"
              data-track-event-property-category="certificates"
              data-track-event-property-credential-uuid="{{ user_credential.uuid }}"
              data-track-event-property-program-uuid="{{ user_credential.credential.program_uuid }}">
        <a class="share-link" target="_blank"
           href="{{ twitter_url }}">
          <span class="fa-brands fa-twitter" aria-hidden="true"></span>
          <span class="action-label">{% trans 'Tweet this certificate' as tmsg %}{{ tmsg | force_escape }}</span>
        </a>
      </button>
    {% endif %}

    {% if enable_linkedin_sharing %}
      <button title="{% trans 'Add to LinkedIn profile' as tmsg %}{{ tmsg|force_escape }}"
        class="action btn icon-only"
        data-track-type="click"
        data-track-event="edx.bi.credentials.linkedin_share.attempted"
        data-track-event-property-category="certificates"
        data-track-event-property-credential-uuid="{{ user_credential.uuid }}"
        data-track-event-property-program-uuid="{{ user_credential.credential.program_uuid }}">
        <a class="share-link" target="_blank" href="{{ linkedin_url }}" >
          <span class="fa-brands fa-linkedin" aria-hidden="true"></span>
          <span class="action-label">{% trans 'Add this certificate to your LinkedIn profile' as tmsg %}{{ tmsg | force_escape }}</span>
        </a>
      </button>
    {% endif %}

    <button class="action btn icon-only" id="mx-print-btn" onclick="window.print();" data-track-type="click"
            data-track-event="edx.bi.credentials.print.attempted"
            data-track-event-property-category="certificates"
            data-track-event-property-credential-uuid="{{ user_credential.uuid }}"
            data-track-event-property-program-uuid="{{ user_credential.credential.program_uuid }}">
      <span class="fa fa-print mx-fa-print" aria-hidden="true"></span>
      <span class="m-action-label">{% trans 'Print Certificate' as tmsg %}{{ tmsg | force_escape }}
      </span>
    </button>
  </div>
</div>
