{% load django_markup %}
{% load html %}
{% load i18n %}
{% load render_bundle from webpack_loader %}
{% load static %}

{% block styles %}
  {% if LANGUAGE_BIDI %}
      {% render_bundle 'openedx.certificate.style-rtl' 'css' %}
    {% else %}
      {% render_bundle 'openedx.certificate.style-ltr' 'css' %}
    {% endif %}

    <style>

      #main-content {
        max-width: 85.125rem;
      }

      .certificate-outer {
        background-color: #c79a00; 
        padding: 40px; 
      }

      .certificate-inner {
          background-color: #fec303; 
          padding: 40px; 
      }

      #main-content .accomplishment-rendering {
        margin: 0;
        padding: 15px 20px !important;
        text-align: unset;
      }

      .wrapper-accomplishment-rendering {
          padding: 0 !important;
          margin: 0 !important;
      }


      .accomplishment-title {
        font-size: 54px;
        font-weight: 600;
        color: #000000;
        font-family: "Domine", serif; 
        border-bottom: 1px solid #000000;
      }

      .accomplishment-statement-detail.copy {
        margin-top: 5px;
        font-size: 22px !important;
        margin-bottom: 0px !important;
      }

      .wrapper-accomplishment-orgs {
        max-width: 100%;
        margin-bottom: 0 !important;
      }

      .org-logo-wrap {
        width: 100%;
      }

      .mx-subodha .certisubodha-logo {
          width: 159px;
          height: 61px;
      }

      .accomplishment-statement {
        color: #000000 !important;
        font-family: "Domine", serif;
        padding-bottom: 0px !important;
        margin-bottom: 0px !important;
      }

      .wrapper-accomplishment-statement {
        text-align: center;
        display: block;
        padding: 0;
      }
      .accomplishment-recipient {
        text-transform: capitalize;
      }

      .accomplishment-summary.copy, .mx-accomplishment-statement-detail  {
        font-size: 22px !important;
        margin-bottom: 12px !important;
      }

      #accomplishment-signatories {
        text-align: left;
        max-width: 100%;
        display: flex;
      }
      
      #accomplishment-signatories .list-signatories {
        flex-flow: nowrap;
      }

      #accomplishment-signatories .wrapper-signatories {
        width: 88%;
      }

      .signatory{
        margin-top: -1px !important;
      }
      .signatory:last-child {
        margin-left: auto;
      }


      .signatory:nth-child(1) {
          margin-left: 35px;
      }
      .signatory:nth-child(2) {
          margin-left: auto;
          margin-right: auto;
      }

      .signatory:nth-child(3) {
          margin-left: 0;
      }

      .issue-date-wrap dt {
        margin-top: 53px;
      }
      .issue-date-wrap .copy-base {
        margin-top: 5px;
      }

      .accomplishment-support
      {
          margin: 25px auto auto 0px;
      }

      .support-copy {
        font-size: 18px;
      }
      .wrapper-certificate-id {
        padding-left: 12px;
      }
      .accomplishment-stamps .title {
        color: #000000;
        font-size: 14px;
        font-weight: 600;
      }

      .accomplishment-stamps .emphasized {
        font-weight: 600;
        color: #111;
        font-size: 15px;
      }

      .font-18 {
        font-size: 18px;
      }

      .font-14 {
        font-size: 14px;
      }

      #accomplishment-program, #accomplishment-recipient {
        margin-bottom: 2px !important;
      }
      .accomplishment-program-name {
        font-size: 2.5rem;
        font-weight: 600;
      }

      .wrapper-accomplishment-orgs {
        flex: none !important;
      }

      #org-logo-wrap {
        display: flex;
        align-items: center;
            justify-content: space-between;
      }

      .wrapper-orgs {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      .organization-logo {
        max-height: 92px;
        max-width: 100%;
      }

      #mx-wrapper-banner .message-title:focus-visible, #mx-wrapper-banner .message-copy:focus-visible {
        outline: 1px solid;
      }
      

    @media print {
      
         #accomplishment-signatories .wrapper-signatories {
        width: 80%;
      }  

      .accomplishment-title {
        font-size: 35px;
      }

      /* .accomplishment-statement-detail.copy, .accomplishment-summary.copy, .mx-accomplishment-statement-detail {
        color: #000000 !important;
      } */
        
     

      .accomplishment-statement-detail.copy, .accomplishment-summary.copy, .mx-accomplishment-statement-detail {
        color: #000000 !important;
      }
  

      .wrapper-accomplishment-statement {
        width: 100%;
        text-align: center !important;
        display: block !important;
        float: unset !important;
      }

      .accomplishment-statement {
          flex: none !important;
          max-width: none !important;
          width: auto !important;
          padding: 0 !important;
          display: block !important;
          text-align: center !important;
        }

      #org-logo-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

       .wrapper-orgs {
        padding: 0;
        margin: 0;
      }

      .wrapper-accomplishment-statement {
        padding: 0px 0 !important;
        margin: 0 !important;
      }

      .accomplishment-program-name, #accomplishment-recipient {
        font-size: 35px;
      }

       .issue-date-wrap dt {
        margin-top: 28px;
      }

   

    }
      
    </style>
{% endblock %}

{% with program_details=user_credential.credential.program_details %}
<main id="main-content" class="accomplishment" tabindex="-1">
  <div class="wrapper-accomplishment-rendering">
    <div class="certificate-outer">
      <div class="certificate-inner">
        <div class="accomplishment-rendering">
          {% with program_details.type|slugify as program_type %}
            <div class="background-watermark">
              {% block background_watermark %}
              {% endblock %}
            </div>
            <div class="wrapper-accomplishment-titles">
              
              <div class="wrapper-accomplishment-orgss">
                <!-- <h3 class="accomplishment-orgs-title sr-only">{% trans "Supported by the following organizations" as tmsg %}{{ tmsg | force_escape }}</h3> -->
                
              
                <div class="org-logo-wrap" id="org-logo-wrap">
                  
                  <ul class="wrapper-orgs list-orgs">
                      
                    {# Note that the following loop works for up to three orgs as per our scss on .wrapper-organization. #}
                    {% for organization in program_details.organizations %}
                        <li class="wrapper-organization">
                          <div class="organization">
                              <img class="organization-logo"
                              src="{{ organization.certificate_logo_image_url }}"
                              alt="{{ organization.name }} {% trans 'logo' as tmsg%} {{ tmsg | force_escape }}">
                          </div>
                        </li>
                        
                        
                    {% endfor %}
                  </ul>

                  <span class="mx-subodha" id="mx-subodha">
                    <img class="certisubodha-logo" src="{{subodha_logo}}" alt="Subodha logo with tag line Learning for all">
                  </span>

                </div>
              </div>

            </div>
          {% endwith %}


          <div class="wrapper-accomplishment-statement">
            <div class="accomplishment-statement">
              <span class="accomplishment-title" id="accomplishment-title">
                PROGRAM CERTIFICATE
              </span>
              <p class="accomplishment-statement-lead">
                {# Translators: This phrase is followed by a statement of the learner's achievement. e.g. 'has completed the course' #}
                {% trans "{start_span}This is to certify that{end_span} {start_strong} {user_name} {end_strong}" as accomplishment_statement_lead_string %}
                {% interpolate_html accomplishment_statement_lead_string user_name=credential_name start_span='<div class="accomplishment-statement-detail copy">'|safe end_span='</div>'|safe start_strong='<strong class="accomplishment-recipient" id="accomplishment-recipient">'|safe end_strong='</strong>'|safe %}
                <span class="accomplishment-summary copy">
                  {% block accomplishment_summary %}{% endblock %}
                </span>
                <span class="accomplishment-program" id="accomplishment-program">
                  <span class="accomplishment-program-name">
                      {% firstof program_details.credential_title program_details.title %}
                  </span>
                </span>

              </p>
            </div>
          </div>
          <div class="accomplishment-signatories" id="accomplishment-signatories">
            <!-- <h3 class="accomplishment-signatories-title sr-only">{% trans "Noted by" as tmsg %}{{ tmsg | force_escape }}</h3> -->
            <div class="wrapper-signatories">
              <div class="list-signatories">
                {% for signatory in user_credential.credential.signatories.all %}
                <div class="signatory">
                  {% if signatory.image %}
                    <img class="signatory-signature" src="{{ signatory.image.url }}" alt="Signature of {{ signatory.name }}">
                  {% endif %}
                  <h4 class="signatory-name font-18">{{ signatory.name }}</h4>

                    {% autoescape off %}
                    <div class="role font-14">{{ signatory.title }}</div>
                    <div class="organization font-14">
                      {% firstof signatory.organization_name_override program_details.organizations.0.name %}
                    </div>
                    {% endautoescape %}
                </div>

                {% endfor %}
              </div>
            </div>

            <div class="issue-date-wrap">
                <dl class="metadata accomplishment-date">
                    <dt class="label copy copy-meta">Issued On:</dt>
                    <dd class="value copy copy-base">
                      {# Translators: This phrase appears on certificates to show the issue date #}
                      {% trans "{month} {day}, {year}" as tmsg %}
                      {% interpolate_html tmsg month=issue_date|month day=issue_date|date:"d"  year=issue_date|date:"Y" as tmsg %}
                      {{ tmsg | capfirst }}

                    </dd>
                </dl>
            </div>

          </div>
          <div class="wrapper-accomplishment-stamps" style="display: none;">
            <ul class="accomplishment-stamps copy-list">
              
              <li class="accomplishment-stamp-date" >
                <span class="title">{% block accomplishment_stamp_title %}{% endblock %}</span>
                <span class="copy-micro emphasized">
                  {# Translators: This phrase appears on certificates to show the issue date #}
                  {% trans "Issued {month} {year}" as tmsg %}
                  {% interpolate_html tmsg month=issue_date|month year=issue_date|date:"Y" as tmsg %}
                  {{ tmsg | capfirst }}
                </span>
              </li>
              <li class="accomplishment-stamp-validity">
                <span class="title">{% trans "Valid Certificate ID" as tmsg %}{{ tmsg | force_escape }}</span>
                <span class="emphasized">{{ user_credential.uuid.hex }}</span>
              </li>

              {% if hours_of_effort %}
                <li class="accomplishment-stamp-effort">
                  <span class="title">{% trans "Effort" as tmsg %}{{ tmsg | force_escape }}</span>
                  <span class="emphasized">
                    {% filter force_escape %}
                      {% blocktrans count num_hours=hours_of_effort %}{{num_hours}} hour{% plural %}{{num_hours}} hours{% endblocktrans %}
                    {% endfilter %}
                  </span>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
        </div>
    </div>
  </div>

  <div class="wrapper-accomplishment-support">
    <div class="accomplishment-support">
      <div class="accomplishment-support-print">
        <p class="support-copy">
          {% blocktrans trimmed asvar accomplishment_support %}
             {start_anchor}Go to Dashboard{end_anchor}.
          {% endblocktrans %}
          {% interpolate_html accomplishment_support start_anchor='<a href="'|add:site.siteconfiguration.certificate_help_url|add:'">'|safe end_anchor='</a>'|safe %}
        </p>
      </div>
        <div class="wrapper-certificate-id">
             <div class="accomplishment-stamps copy-list">
              
              
              <div class="accomplishment-stamp-validity">
                <div class="title">{% trans "Certificate ID Number:" as tmsg %}{{ tmsg | force_escape }}</div>
                <div class="emphasized">{{ user_credential.uuid.hex }}</div>
              </div>

            </div> 
        </div>
    </div>
  </div>

  {% block certificate_metadata %}
  {% endblock %}
</main>
{% endwith %}
